{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}
    <p>{{ app.user.pseudo }}</p>
    <p>Prénom : {{ app.user.prenom }}</p>
    <p>Nom : {{ app.user.nom }}</p>
    <p>Téléphone : {{ app.user.telephone }}</p>
    <p>E-mail : {{ app.user.mail }}</p>
    <p>Campus : {{ app.user.participantCampus.nom }}</p>

    <a href="{{ path('profil_edit') }}">Modifier le Profile</a>
{% endblock %}
