{% extends "base.html.twig" %}
{% block titre %}<h1 class="titre">Afficher une sortie</h1>{% endblock %}
{% block body %}

    <div class="containerFormSortie">

        <div class="childFormSortie">

            <p>Nom de la sortie : {{ sortie.nom }}</p>

            <p>Date et heure de la sortie : {{ dateDebut }}</p>

            <p>Date limite d'inscription : {{ dateFin }}</p>

            <p>Nombres de places : {{ sortie.nbInscriptionMax }}</p>

            <p>Durée : {{ sortie.duree }}</p>

            <p>Description et infos : {{ sortie.infosSortie }}</p>

        </div>

        <div class="childFormSortie">

            <p>Campus : {{ campus.nom }}</p>

            <p>Lieu : {{ lieu.nom }}</p>

            <p>Rue : {{ lieu.rue }}</p>

            <p>Code postal :{{ ville.codePostal }}</p>

            <p>Latitude : {{ lieu.latitude }}</p>

            <p>Longitude : {{ lieu.longitude }}</p>

        </div>

    </div>

    <h3>Liste des participants inscrits :</h3>

    <table class="tableauUsers">
        <thead>
        <tr>
            <th class="tableauUsers">Pseudo</th>
            <th class="tableauUsers">Nom</th>
        </tr>
        </thead>

        {% for user in sortie.users %}
            <tbody>
            <tr>
                <td class="tableauUsers"><a href="{{ path('participant_afficher', {'id': user.id}) }}">{{ user.pseudo }}</a></td>
                <td class="tableauUsers">{{ user.prenom }} {{ user.nom }}</td>
            </tr>
            </tbody>
        {% endfor %}
    </table>

{% endblock %}