{% extends "base.html.twig" %}
{% block titre %}<h1 class="titre">Annuler une sortie</h1>{% endblock %}
{% block body %}
    <div class="containerFormAnnulerSortie">
        <p class="childFormSortieAnnuler">Nom de la sortie :</p>
        <p class="childFormSortieAnnuler">{{ sortie.nom }}</p>
    </div>

    <div class="containerFormAnnulerSortie">
        <p class="childFormSortieAnnuler">Date de la sortie :</p>
        <p class="childFormSortieAnnuler">{{ date }}</p>
    </div>

    <div class="containerFormAnnulerSortie">
        <p class="childFormSortieAnnuler">Campus :</p>
        <p class="childFormSortieAnnuler"> {{ campus.nom }}</p>
    </div>

    <div class="containerFormAnnulerSortie">
        <p class="childFormSortieAnnuler">Lieu :</p>
        <p class="childFormSortieAnnuler">{{ lieu.nom }}</p>
    </div>

    <div class="containerFormAnnulerSortie">
        {{ form_start(sortieForm) }}
        {{ form_row(sortieForm.infosSortie) }}

    </div>

    <div class="containerFormSortie">
        <button class="form_sortie">Enregistrer</button>
        {{ form_end(sortieForm) }}
        <button class="form_sortie"><a href="{{ path('accueil') }}">Annuler</a></button>
    </div>

{% endblock %}