<td>{{ sortie.nom }}</td>
<td>{{ sortie.dateHeureDebut| date('d/M/Y h:m') }}</td>
<td>{{ sortie.dateLimiteInscription| date('d/M/Y') }}</td>
<td>
    {% if sortie.users != null %}
    {{ sortie.users | length }}
    {% else %}
    0
    {% endif %}
    /{{ sortie.nbInscriptionMax }}
</td>
<td>{{ sortie.etat.libelle }}</td>
<td>{{ app.user in sortie.users ?'x' :' '}}</td>
<td><a href="{{ path('participant_afficher', {'id': sortie.organisateur.id}) }}" >{{sortie.organisateur.pseudo}}</a></td>
<td>
    {# Affichage des actions possible pour les sorties qui n'ont pas été créer par l'utilisateur #}
    {% if app.user != sortie.organisateur %}
        <a href="{{ path('sortie_afficher', {'id': sortie.id}) }}">Afficher</a>
        {# Si l'utilisateur ne se trouve pas dans la liste des inscrits de la sortie #}
        {% if app.user not in sortie.users %}
            {# Et si la sortie est a l'état "Ouverte" et si le nombre de participant max n'est pas atteint
            , on affiche l'action "s'inscrire" #}
            {% if sortie.etat.libelle == "Ouverte" and sortie.users | length < sortie.nbInscriptionMax %}
                <a href="{{ path('inscription', {'id': sortie.id})}}">S'inscrire</a>
            {% endif %}
            {# Sinon on affiche l'action de "se désister" #}
        {% else %}
            {% if sortie.etat.libelle == "Ouverte"%}
            <a href="{{ path('desistement', {'id': sortie.id})}}">Se désister</a>
            {% endif %}
        {% endif %}
    {#  Sinon affichage des actions possible pour les sorties qui ont été créer par l'utilisateur #}
    {% else %}
        {# Si l'état de la sortie est "créée" on affiche l'actions "publier" ou "Modifier" la sortie #}
        {% if sortie.etat.libelle == "Créée" %}
            <a href="{{ path('sortie_modifier', {'id': sortie.id}) }}">Modifier</a>
            <a href="{{ path('publier', {'id': sortie.id}) }}">Publier</a>
            {# Sinon on affiche l'action "d'annuler" la sortie #}
        {% else %}
            {# Si l'état de la sorie est Annulé on affiche aucune action possible pour l'utilisateur qui a créer la sortie #}
            {% if sortie.etat.libelle != "Annulé" and sortie.etat.libelle == "Ouverte" or sortie.etat.libelle == "Clôturée" %}
                <a href="{{ path('sortie_annuler', {'id': sortie.id}) }}">Annuler</a>
            {% endif %}
        {% endif %}
    {% endif %}
</td>